.about-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10%;
}

.about-detail {
  width: 300px;
  height: 90px;
  margin-bottom: 20px;
  padding: 20px;
  border: thin solid #000000; 
  border-color: black;
  border-width: 2px;
  border-radius: 2px;
  position: relative;
}

.about-square {
  position: absolute;
  top: 50%;
  left: -50px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-color: black;
}
