.normal-button {
  border: none;
  display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
  padding:10px;
  margin: 10px;
	background-color: rgb(27,27,27);
  border-style: none;
  border-color: white;
}
.normal-button-animation {
  transition: 1s ease;
  background-color: white;
  border-color: rgb(27,27,27);
  
  /* fill: black; */
}

.normal-button-animation-back {
	transition: 1s ease;
  background-color: rgb(27,27,27);
  border-color: white;
}

.normal-button-image {
  width: 20px;
  height: 20px;
  fill: white;
}
.normal-button-image-animation {
  transition: 1s ease;
  fill: rgb(27,27,27);
}

.normal-button-image-animation-back {
  transition: 1s ease;
  fill: white;
}

.normal-button-title {
  background-color: rgb(27,27,27);
  margin-left: 10px;
  color: white;
  font-weight: bold;
}
.normal-button-title-animation {
  transition: 1s ease;
  background-color: white;
  color: rgb(27,27,27);
}
.normal-button-title-animation-back {
  transition: 1s ease;
  background-color: rgb(27,27,27);
  color: white;
}
.normal-button:hover {
  border-bottom: thin solid #000000; 
  border-radius: 2px;
}
